@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(100%, 0, 0);
    -webkit-transform: translate(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    -webkit-animation-duration: 1s;
    -webkit-transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
  }
}
